<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Coronium</title>
</head>
<body class="sb-nav-fixed">

<ng-template #routerOutlet>
  <router-outlet></router-outlet>
</ng-template>

<app-header *ngIf="authState"></app-header>

<div id="layoutSidenav" *ngIf="authState">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <ng-container [ngTemplateOutlet]="routerOutlet"></ng-container>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>

<ng-container *ngIf="!authState" [ngTemplateOutlet]="routerOutlet"></ng-container>

</body>
</html>
